<?xml version='1.1' encoding='UTF-8'?>
<project>
    <description></description>
    <keepDependencies>false</keepDependencies>
    <properties>
        <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
                <hudson.model.StringParameterDefinition>
                    <name>project_name</name>
                    <description></description>
                    <defaultValue>none</defaultValue>
                    <trim>true</trim>
                </hudson.model.StringParameterDefinition>
            </parameterDefinitions>
        </hudson.model.ParametersDefinitionProperty>
    </properties>
    <scm class="hudson.scm.NullSCM"/>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers/>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.tasks.Shell>
            <command>cp jenkins-kubernetes/service-definitions/${project_name}-service.yaml jenkins-kubernetes/service-definitions/service.yaml</command>
        </hudson.tasks.Shell>
        <com.microsoft.jenkins.kubernetes.KubernetesDeploy plugin="kubernetes-cd@0.2.0">
            <context>
                <kubeconfigId>minikube</kubeconfigId>
                <credentialsType>KubeConfig</credentialsType>
                <ssh>
                    <sshServer></sshServer>
                    <sshCredentialsId>*</sshCredentialsId>
                </ssh>
                <kubeConfig>
                    <path></path>
                </kubeConfig>
                <textCredentials>
                    <serverUrl>https://</serverUrl>
                    <certificateAuthorityData></certificateAuthorityData>
                    <clientCertificateData></clientCertificateData>
                    <clientKeyData></clientKeyData>
                </textCredentials>
                <configs>jenkins-kubernetes/service-definitions/service.yaml</configs>
                <enableConfigSubstitution>true</enableConfigSubstitution>
                <secretName></secretName>
            </context>
        </com.microsoft.jenkins.kubernetes.KubernetesDeploy>
    </builders>
    <publishers/>
    <buildWrappers/>
</project>